@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  /* Colors */
  --hue-color: 240;
  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  /* Font and Typography */
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  /* Font Weight */
  --font-medium: 500;
  /* Margin Bottom */
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;
  /* z index */
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 640px) {
  :root {
    --biggest-font-size: 3.5rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;
  }
}
/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}
a {
  text-decoration: none;
}
/* Reusable CSS Classes */
.container {
  max-width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.grid {
  display: grid;
}
/* Clock */
.clock-container {
  grid-template-rows: 1fr max-content;
}
/* Media Queries */
/* For large devices */
@media screen and (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
