/* global reset */
* {
  padding: 0px;
  margin: 0px;
}

.app_container {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-areas: 
    "section"
    "right"
    "left"
    "footer";
  grid-template-rows: 1fr 6fr 2fr 2fr 1fr;
}

aside:nth-of-type(1) {
  grid-area: left;
}

aside:nth-of-type(2) {
  grid-area: right;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}

.app_container > * {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px)  {
  .app_container {
    grid-template-areas: 
      "left   section right"
      "footer footer  right";
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 2fr 3fr 1fr;
  }
}